/* Main CSS */
body {
  padding-top:10px;
}
.container {
	width:80%;
}
h3 {
  font-size:2em;
  margin:0px;
}

/* Clock */
#clock {
  background:#fff;
  border:1px solid #dcdcdc;
  border-radius:4px;
  font-size:2em;
  padding:5px;
  text-align:center;
  width:100%;
}

/* Table Filters */
#filters {
  margin-bottom:10px;
}
#filters > div {
  margin-left:10px;
}
#filters > div > span {
  height:30px;
}
#filters > div > input {
  height:30px;
}

/* Floorplan */
/* Used http://www.cssarrowplease.com/ */
.floorplan-tooltip {
	width:150px;
	position:absolute;
	display:none; 
	background:#efeff5;
	border:1px solid #c2e1f5;
	padding:10px;
}
.floorplan-tooltip:after, .floorplan-tooltip:before {
	bottom:100%;
	left:50%;
	border:solid transparent;
	content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
}
.floorplan-tooltip:after {
	border-color:rgba(239, 239, 245, 0);
	border-bottom-color:#efeff5;
	border-width:10px;
	margin-left:-10px;
}
.floorplan-tooltip:before {
	border-color:rgba(194, 225, 245, 0);
	border-bottom-color:#c2e1f5;
	border-width:11px;
	margin-left:-11px;
}
.restaurantTable:hover {
	cursor:pointer;
}
.floorplan-tooltip label {
	display:inline-block;
	font-weight:700;
}
#inputWalkInPartySize {
	display:inline-block;
	width:50px;
}
/*
@media (min-width:1800px) {
  .container {
    width:1800px;
  }
}
*/

/* Upcoming interface */
#upcomingList>h3 {
  margin:0px;
  margin-bottom:-5px;
}
#openReservationMenu,#openWaitlistMenu {
  width:100%;
  overflow:hidden;
}
#openReservationMenu {
  margin-bottom:10px;
}


/* svg elements (floorplan) */
.restaurantTable {
	stroke-width: 1;
	stroke: #000;
	fill: #cccccc;
}

.restaurantWall {
	stroke-width: 3;
	stroke: #382F2B;
	fill: #2C3539;
}

.waiterZone {
	stroke-width: 2;
	fill: none;
}

#waiterZone1 {
	stroke: #cc6600;
}

#waiterZone2 {
	stroke: #0052cc;
}

.infoLabel {
	fill: black;
	font-size: 12px;
	font-family: FontAwesome;
	pointer-events: none;
}

.partyLabel {
	fill: black;
	font-size: 14px;
	font-family: Verdana;
	pointer-events: none;
}
.parent {
  border:1px solid #dcdcdc;
}
